################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Back/CohorteApi/obj/Debug/net6.0
/Back/CohorteApi/.vs/CohorteApi/FileContentIndex
/Back/CohorteApi/.vs/CohorteApi/v17
/Back/CohorteApi/.vs