*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer{
    width: 100%;
    height: 40vh;
    background: rgb(252,74,136);
    background: linear-gradient(90deg, rgba(252,74,136,1) 35%, rgba(148,45,189,1) 100%);
}
.footer .footer_group_1{
width: 100%;
height: 85%;
max-width: 1200px;
/* display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 60px;
padding: 60px; */
display: flex;
justify-content: space-evenly;
align-items:center;

}

.footer .footer_group_1 .box figure{
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 
 
}

.line hr{
    color:#00000088;
    background-color: #00000088;
    border-radius: 3px;
    height: 3px;
    width: 70vw;
    margin-left: 110px;
    border: none;
    

}

.img-logo{
    width: 300px;
}

ul{
text-align: left;
padding-bottom: 10px; 
}
li{
    padding-top: 10px;
}