.vendidosContainer{
    background: linear-gradient(95.66deg, #FC4A88 0%, #942DBD 100.38%);
    padding: 2rem 0;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.img{
    height: 300px;
    min-width: 1100px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: top;
}

.img:hover .info {
    transition: 0.5s;
    opacity: 10;
}

.info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    opacity: 10;
    height: 180px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0) 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0px 0px 10px 10px;
}

.info h1{
    font-size: 20px;
}

.info h2{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.buttonInfo{
    display: flex;
	align-items: center;
	background-color: #fc4a88;
    font-weight: 600;
	padding: 5px 10px;
	border-radius: 10px;
    color: white;
    margin-top: 10px;
}
.buttonInfo:hover{
    transition: 0.5s;
    background-color: #ba2d5f;
}

.vendidosContainer h1{
    font-weight: bold;
    color: white;
}



.topVendidos{
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 20px 0px;
}

.topVendidos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.topVendidos::-webkit-scrollbar:vertical {
    width:7px;
}

.topVendidos::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
    display: none;
} 

.topVendidos::-webkit-scrollbar:horizontal {
    height: 15px;
}

.topVendidos::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        
}

.topVendidos::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 30px;
    border: 10px solid white;
}

.topVendidos::-webkit-scrollbar-track {
    border-radius: 10px;  
}

@media screen and (min-width:424px) and (max-width:768px){

.vendidosContainer h1{
    font-size: 25px;
}

.img{
    min-width: 360px;
}


}



