.containerNext{
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    height: max-content;
    padding: 30px;
}
.titulo h3{
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.titulo a{
    color: white;
    font-weight: bold;
}

.titulo{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.eventos{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
}