.cardEvento {
	background-color: black;
	border-radius: 10px;
	margin: 10px;
	width: 300px;
}

.cardImagen {
	max-width: 260px;
	border-radius: 10px 10px 0px 0px;
}

.infoEvento {
	background-image: url('./fondo.png');
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0px 0px 10px 10px;
	height: 130px;
	width: 100%;
	padding: 5px;
}

.containerInfo {
	height: 65%;
	border-bottom: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.containerBotones {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 35%;
	border-radius: 0px 0px 10px 10px;
}

.containerBotones a {
	color: white;
	font-weight: bold;
}

.buttonComprar {
	display: flex;
	align-items: center;
	background-color: #fc4a88;
	padding: 5px 10px;
	border-radius: 10px;
}

.buttonComprar:hover {
	transition: 0.5s;
	background-color: #cf2460;
}

.fechaHoraContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 90px;
}

.fechaHoraContainer h3{
	font-size: 14px;
}

.mesHora h4{
	font-size: 16px;
	font-weight: bold;
}

.cardImg{
	width: 300px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px 10px 0px 0px;
}

.eventoArtista{
	overflow: auto;
	height: inherit;
	width: 100%;
	margin: 5px;
}

.eventoArtista h2{
	font-size: 13px;
	padding: 5px;
	font-weight: bold;
}

.eventoArtista h4{
	font-size: 16px;
}

.fecha {
	font-weight: bold;
	font-size: 20px;
}

.mesHora {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fechaHoraContainer h3 {
	color: white;
}

.fechaHoraContainer h4 {
	color: white;
}

.eventoArtista h2 {
	color: white;
}

.eventoArtista h4 {
	color: white;
}
.eventoArtista::-webkit-scrollbar {
    -webkit-appearance: none;
}

.eventoArtista::-webkit-scrollbar:vertical {
    width:7px;
}

.eventoArtista::-webkit-scrollbar-button:increment ,.body::-webkit-scrollbar-button {
    display: none;
} 

.eventoArtista::-webkit-scrollbar:horizontal {
    height: 15px;
}

.eventoArtista::-webkit-scrollbar-track {
    background: rgba(255, 166, 0, 0);        
}

.eventoArtista::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 30px;
    border: 10px solid white;
}

.eventoArtista::-webkit-scrollbar-track {
    border-radius: 10px;  
}

