h1{
  font-weight: "bold";
  font-size: 56px;
}

h2{
  font-weight: 600;
  font-size: 48px;
}

h3{
  font-weight: 400;
  font-size: 40px;
}

h4{
  font-weight: "bold";
  font-size: 32px;
}

h5{
  font-weight: lighter;
  font-size: 24px;
}

a{
  font-size: 16px;
  font-weight: lighter;
}

button{
  font-weight: 700;
  font-size: 16px;
}